
.texto-menor { font-size: 13px;}

.div-facilidades { width: 325px;}

.categoria { color: white;}

.btn-primary , .enviar {background-color: blueviolet !important;
color: white;}

.title_facilidades { color: yellow;}

.bi { color: yellow;}

section { color: white;}

footer { background-color: black;
    color: white;
}






